@import 'tailwindcss';
html {
  overflow-x: hidden;
}
body {
  font-family: "M PLUS 1p",  sans-serif;
  color: #333;
  font-size: 100%;
  font-weight: 400;
  transform: rotate(0.03deg);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
  line-height: 32px;
  vertical-align: baseline;
  line-break: strict;
  word-wrap: break-word !important;
  overflow-wrap: break-word;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: all 1s;
}
  a:hover {
    opacity: 0.5;
  }
